#contact {
  height: 91.5vh;
  position: relative;
}

#contact h1 {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 2.1rem;
  font-weight: 550;
  text-align: center;
  padding-top: 50px;
}

.contact-container {
  background-color: var(--layout-color);
  margin-top: 50px;
  height: 50vh;
  overflow: hidden;
}

.contact-message {
  color: white;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  margin-top: 50px;
}

.contact-form {
  width: 85%;
  height: 40vh;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

form {
  max-width: 800px;
  text-align: center;
  margin: 60px auto;
}

form p {
  color: white;
  text-align: left;
  font-weight: 550;
  font-family: "Montserrat", sans-serif;
}

form input,
#input-message {
  border: 0;
  outline: 0;
  padding: 1em;
  display: block;
  width: 100%;
  margin-top: 1em;
  font-family: "Montserrat", sans-serif;
  resize: none;
  font-size: medium;
}

#input-name {
  height: 50px;
  transition: border-bottom 0.12s;
}

.form-email-label {
  margin-top: 18px;
}

#input-email {
  height: 50px;
  transition: border-bottom 0.12s;
}

#input-message {
  height: 150px;
  transition: border-bottom 0.12s;
  margin-bottom: 1.5em;
}

#input-name:focus,
#input-email:focus,
#input-message:focus {
  border-bottom: 2px solid var(--highlight-color);
}

.form-half input,
#input-message {
  background: transparent;
  border-bottom: 2px solid white;
  color: white;
}

#input-submit {
  color: white;
  background: var(--highlight-color);
  cursor: pointer;
  width: 20%;
  margin: 0 auto;
  font-weight: 550;
}

.form-half {
  float: left;
  width: 48%;
  margin-bottom: 1.5em;
}

.form-right {
  width: 48%;
}

.form-left {
  margin-right: 2%;
}

@media (max-width: 480px) {
  .form-half {
    width: 100%;
    float: none;
    margin-bottom: 0;
  }
}

.contact-form form:before,
.contact-form form:after {
  content: " ";
  display: table;
}

.contact-form form:after {
  clear: both;
}

#footer-container {
  background-color: var(--layout-color);
  position: absolute;
  height: 20vh;
  bottom: 0;
  width: 60%;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  color: white;
  text-align: center;
}

.footer-logos ul {
  margin-top: 70px;
}

.footer-logos ul li {
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
  font-weight: 600;
  font-size: 1.05rem;
  transition: transform 0.4s;
}

.footer-logos ul li:hover {
  transform: scale(1.08);
  color: var(--highlight-color);
}

.footer-logos ul li a {
  transition: color 0.3s;
  color: white;
  text-decoration: none;
}

.footer-logos ul li:hover a {
  color: var(--highlight-color);
}

.footer-logos ul li:not(:first-child) {
  margin-left: 50px;
}

.footer-text {
  font-family: "Montserrat", sans-serif;
  margin-top: 30px;
  font-size: 0.8rem;
}

.footer-go-to-top {
  position: absolute;
  cursor: pointer;
  z-index: 1;
  top: -13%;
  left: 0;
  right: 0;
  margin: auto;
  width: 2.5rem;
  height: 3.5rem;
}

.footer-go-to-top img {
  max-width: 100%;
  max-height: 100%;
  transition: filter 0.1s;
}

.footer-go-to-top:hover img {
  filter: brightness(0) saturate(100%) invert(98%) sepia(7%) saturate(2647%)
    hue-rotate(2deg) brightness(88%) contrast(91%);
}
