header {
  height: 100vh;
  overflow: hidden;
  background: radial-gradient(ellipse at bottom, #220055 0%, #090a0f 100%);
}

.nav-scrolled {
  background-color: #0e0a13;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
}

/* NAVIGATION BAR */

nav {
  background-color: transparent;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 1;
  transition: all 0.6s;
}

nav::after {
  content: "";
  display: table;
  clear: both;
}

.nav-container {
  width: 60%;
  margin: 0 auto;
}

#logo {
  width: 150px;
  float: left;
  padding: 15px 0;
}

.nav-container ul {
  float: right;
  position: relative;
  margin: 0;
  padding: 0;
  top: 30px;
}

.nav-container ul li {
  display: inline-block;
  margin-left: 70px;
  font-family: "Poppins", sans-serif;
  transition: transform 0.4s;
  cursor: pointer;
}

.nav-container ul li:hover {
  transform: scale(1.08);
}

.nav-container ul li a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
}

/* MAIN */

#title {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  color: #fff;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0px;
  margin-top: -110px;
  padding-left: 10px;
  line-height: 80px;
}

#title #name {
  font-size: 6.5rem;
  font-weight: bold;
}

#title #job {
  font-size: 3.5rem;
  font-weight: lighter;
}
