#works {
  height: 91.5vh;
}

#works h1 {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 2.1rem;
  font-weight: 550;
  text-align: center;
  padding-top: 50px;
}

.works-container {
  margin-top: 50px;
  height: 65vh;
  overflow: hidden;
  display: grid;
  gap: 40px;
  grid-template-columns: repeat(3, 1fr);
}

.work-container {
  border-radius: 0.5rem;
  background-color: var(--layout-color);
  cursor: pointer;
}

@keyframes modalopen {
  from {
    opacity: 0;
    transform: translate3d(0, 50px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.works-container div {
  background-size: 100% 100%;
}

#work-1 {
  background-image: url("/images/works/logo.png");
}

#work-2 {
  background-image: url("/images/works/hah.png");
}

#work-3 {
  background-image: url("/images/works/chair.png");
}
